* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background: #000;
  color: white;
}

p {
  font-size: 3rem;
}

.js {
  color: rgb(238, 255, 0);
}

.typed-text {
  color: rgb(21, 255, 0);
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: rgb(21, 255, 0);
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }
